<<<<<<< HEAD
=======
Header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background: white;
    padding: 30px;
    text-align: center;
    margin: 10px;

}

Body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    
}
Header, Nav, Section, Aside, Footer {
    background: #ebebeb;
}

Article {
    color: #ebebeb;
    background: #777;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

 p, h1 {
    color: #777;
    background: #ebebeb;
    padding: 20px;
}

section {
    width: 495px;
    height:300px;
    float: left;
    padding-top: 30px;
    margin-bottom: 10px;
    
}
Nav {
    font-size: 18px;
    color: gray;
    padding: 30px;
    margin: 10px;
}
aside {
    float: left;
    width: 445px;
    height: 300px;
    margin-left: 10px;
    padding-top: 30px;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: white;
    padding: 30px;
    margin: 10px;
    text-align: center;
    clear: both;
    overflow: auto

}
>>>>>>> 689a3fde7768c76bac53711c503afcfd90779f3f
